<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PipeWorkshopApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PipeWorkshopApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PipeWorkshopApp.Properties.Settings>
            <setting name="Создание_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Создание_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Создание_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Шарошка_Good_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Шарошка_Good_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Шарошка_Good_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Шарошка_Reject_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Шарошка_Reject_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Шарошка_Reject_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="НК_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="НК_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="НК_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Токарка_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Токарка_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Токарка_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Отворот_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Отворот_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Отворот_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Опрессовка_Good_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Опрессовка_Good_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Опрессовка_Good_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Опрессовка_Reject_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Опрессовка_Reject_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Опрессовка_Reject_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Маркировка_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Маркировка_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Маркировка_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Карманы_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Карманы_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Карманы_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NDT_DeviceURL1" serializeAs="String">
                <value />
            </setting>
            <setting name="NDT_DeviceURL2" serializeAs="String">
                <value />
            </setting>
            <setting name="NDT_DeviceURL3" serializeAs="String">
                <value />
            </setting>
            <setting name="Otvorot_DeviceURL4" serializeAs="String">
                <value />
            </setting>
        </PipeWorkshopApp.Properties.Settings>
        <PipeWorkshopApp.Settings>
            <setting name="Создание_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Создание_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Создание_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Шарошка_Good_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="ПараметрШарошка_Good_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Шарошка_Good_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Шарошка_Reject_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Шарошка_Reject_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Шарошка_Reject_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="НК_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="НК_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="НК_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Токарка_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Токарка_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Токарка_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Отворот_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Отворот_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Отворот_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Опрессовка_Good_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Опрессовка_Good_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Опрессовка_Good_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Опрессовка_Reject_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Опрессовка_Reject_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Опрессовка_Reject_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Маркировка_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Маркировка_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Маркировка_Register" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Карманы_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Карманы_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Карманы_Register" serializeAs="String">
                <value>0</value>
            </setting>
        </PipeWorkshopApp.Settings>
    </userSettings>
</configuration>